.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: none;
          color: $black;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
  ul ul {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    display: none;
    position: absolute; 
    top: 50px; /* the height of the main nav */
    list-style-type: none;
  }
  ul li:hover > ul {
    display:inherit;
  }
  ul ul li {
    left: 12px;
    width:170px;
    float:none;
    display:list-item;
    position: relative;
  }

  ul ul li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  ul ul li a:hover {
    text-decoration: none;
    color: $black;
  }

  ul ul li a.active {
    text-decoration: none;
    font-weight: bold;
    color: $black;
  }
}