---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title_in_body}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
        <div class="col-md-4 text-center mt-md-auto mb-md-5">
            <img src="/images/bpd-chief.jpeg" alt="BPD Chief">
        </div>
    </div>
</div>